[mariadb]
max_connections=1024
innodb_flush_log_at_trx_commit=0
# set at least 10G in production
innodb_buffer_pool_size=10G
innodb_log_file_size=1G
innodb-log-buffer-size=64M
innodb_io_capacity=500
sql_mode=TRADITIONAL